<div class="first-section section">
  <img class="logo" src="{{ url('<front>') }}{{ directory }}/images/logo.svg" alt="AR Design" aria-label="A.R. Design" />

  <a class="button" role="button" href="{{ url('<front>') }}/portfolio">Portfolio<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
  <div class="scroll-down">
    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
  </div>
</div>

<div class="second-section section">
  {{ content.second_section}}
  <div class="scroll-down">
    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
  </div>
</div>

<div class="third-section section">
  {{ content.third_section}}
  <a class="button" role="button" href="{{ url('<front>') }}/portfolio/recent">View Recent<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
  <div class="scroll-down">
    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
  </div>
</div>

<div class="fourth-section section">
  <span class="scrollnimate sn-fade-in">Let's work together.</span>
  <a class="button scrollnimate sn-fade-in" role="button" href="{{ url('<front>') }}/connect">Connect<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>

</div>
